{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">{{ form.variety|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.color|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form.gsm|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.quantity_bales|as_crispy_field }}</div>
                    </div>
                    {{ form.location|as_crispy_field }}
                    
                    <div class="d-flex justify-content-end mt-4 gap-2">
                        <a href="{% url 'bag_list' %}" class="btn btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary px-4">Save Stock Entry</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}